*{
    box-sizing: border-box;

}
.jumboImage{
    background-image: url(flag.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 100%;

}

.textColor{
    color: #191970;
    font-weight: bold;
}

