/*
table.resultsTable {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
}

table.resultsTable tbody tr:nth-child(odd) {
  background: #c8c8c8;
}

table.resultsTable th, table.resultsTable td {
  padding: 0.25rem;
  border: 1px solid black;
}
*/